<!DOCTYPE html>
<html>
<head>
  <title>Bodenmiller laboratory antibodies</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.13/angular.min.js"></script>
  <script src="app.js"></script>
  <script src="services.js"></script>
  <script src="controllers.js"></script>
</head>
  
<body ng-app="AntibodyGateway" ng-controller="panelsController">

<style media="screen" type="text/css">

.shadow{
	background-color: #e6e0e0;
}

</style>

<center>
	<thead>
      <tr><th colspan="6"><h3>Bodenmiller laboratory | Antibody Panels<p></h3></th></tr>
    </thead>
    <input type="text" ng-model="search"><br>
  <table>

    <tbody>
      <tr>
      <!--<td>Number</td>-->
      <td width="30%">Panel Name<hr></td>
      
      <tr ng-class="{shadow: $index%2 == 0}" ng-repeat="panel in panelsList | filter:search" ng-click="clicked($index)">
        <!--<td>{{$index + 1}}</td>-->
        <td>
          {{panel.panName}}
        </td>
      </tr>
    </tbody>
  </table>
 </center>
  {{theStatus}}
</body>
</html>