<center>
	<h1>Create Lab</h1>
	<br>
	<input style="margin-bottom:10px; width:200px;" autofocus="autofocus" class="form-control" ng-model="labname" placeholder="Lab/Group name" required="required" type="text" />
	<input style="margin-bottom:10px; width:200px;" class="form-control" ng-model="institution" placeholder="Name of the institution" required="required" type="text" />
	<input style="margin-bottom:10px; width:200px;" class="form-control" ng-model="urlLab" placeholder="Url (ex. http://www.bodenmillerlab.org)" required="required" type="text" />
	<br>
    
	<button class="btn btn-success" style="margin-bottom:10px;" ng-click="createLab()" style="float: center;">Create Lab</button>
	<br>
</center>