<div class="input-group">
  <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
  <input type="text" class="form-control" placeholder="Search for papers within your favorites" aria-describedby="basic-addon1" ng-model="search">
</div>
<br>
<br>
<br>
<div>   
  <table ng-repeat="paper in baseData.papersList | filter:search" width="100%">
      <tr>
        <td style="position: relative;">
          <strong>{{paper.sciTitle}}</strong>
          <div style="position: absolute; top: 22px;right: 2px;">
		  	<button class="btn btn-default" ng-click="showAbstract(paper)" ng-if="paper.showAbstract == false || !paper.showAbstract">
					<span class="glyphicon glyphicon-eye-open"></span> Abstract
			</button>        
			<button class="btn btn-default" ng-click="hideAbstract(paper)" ng-if="paper.showAbstract == true">
					<span class="glyphicon glyphicon-eye-close"></span> Abstract
			</button>
			<button class="btn btn-danger" ng-click="erasePaper(paper)">
				<span class="glyphicon glyphicon-trash"></span>
			</button>         	          
          </div>
        </td>
      </tr>
      <tr>
	    <td>
          {{paper.sciAuthors}}
        </td>
      </tr>
      <tr>
        <td>
          {{paper.sciSource}} | {{paper.sciPubDate}} | <a href='http://www.ncbi.nlm.nih.gov/pubmed/{{paper.sciPubmedID}}'>Pubmed-ID: {{paper.sciPubmedID}}</a>
        </td>
      </tr>
      <tr ng-if="paper.showAbstract == true"><td><br></td></tr>
      <tr ng-if="paper.showAbstract == true">
        <td>
          {{paper.sciAbstract}}
        </td>  
      </tr>
	  <tr><td><hr></td></tr>
  </table>	 
</div>
