<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ZGroupPerson+Person</key>
	<array>
		<dict>
			<key>childClass</key>
			<string>ZGroupPerson</string>
			<key>childFK</key>
			<string>gpePersonId</string>
			<key>parentClass</key>
			<string>Person</string>
			<key>propertyInChild</key>
			<string>person</string>
		</dict>
	</array>
	<key>ZGroupPerson+Group</key>
	<array>
		<dict>
			<key>childClass</key>
			<string>ZGroupPerson</string>
			<key>childFK</key>
			<string>gpeGroupId</string>
			<key>parentClass</key>
			<string>Group</string>
			<key>propertyInChild</key>
			<string>group</string>
		</dict>
	</array>
	<key>ZGroupPerson+ReagentInstance</key>
	<array>
		<dict>
			<key>childClass</key>
			<string>ReagentInstance</string>
			<key>childFK</key>
			<string>reiReceivedBy</string>
			<key>parentClass</key>
			<string>ZGroupPerson</string>
			<key>propertyInChild</key>
			<string>receiver</string>
		</dict>
		<dict>
			<key>childClass</key>
			<string>ReagentInstance</string>
			<key>childFK</key>
			<string>reiOrderedBy</string>
			<key>parentClass</key>
			<string>ZGroupPerson</string>
			<key>propertyInChild</key>
			<string>orderer</string>
		</dict>
		<dict>
			<key>childClass</key>
			<string>ReagentInstance</string>
			<key>childFK</key>
			<string>tubFinishedBy</string>
			<key>parentClass</key>
			<string>ZGroupPerson</string>
			<key>propertyInChild</key>
			<string>finisher</string>
		</dict>
		<dict>
			<key>childClass</key>
			<string>ReagentInstance</string>
			<key>childFK</key>
			<string>createdBy</string>
			<key>parentClass</key>
			<string>ZGroupPerson</string>
			<key>propertyInChild</key>
			<string>requester</string>
		</dict>
		<dict>
			<key>childClass</key>
			<string>ReagentInstance</string>
			<key>childFK</key>
			<string>reiApprovedBy</string>
			<key>parentClass</key>
			<string>ZGroupPerson</string>
			<key>propertyInChild</key>
			<string>approver</string>
		</dict>
	</array>
	<key>ZGroupPerson+Panel</key>
	<array>
		<dict>
			<key>childClass</key>
			<string>Panel</string>
			<key>childFK</key>
			<string>createdBy</string>
			<key>parentClass</key>
			<string>ZGroupPerson</string>
			<key>propertyInChild</key>
			<string>groupPerson</string>
		</dict>
	</array>
	<key>Place+Place</key>
	<array>
		<dict>
			<key>childClass</key>
			<string>Place</string>
			<key>childFK</key>
			<string>plaParentId</string>
			<key>parentClass</key>
			<string>Place</string>
			<key>propertyInChild</key>
			<string>parent</string>
		</dict>
	</array>
	<key>Sample+Sample</key>
	<array>
		<dict>
			<key>childClass</key>
			<string>Sample</string>
			<key>childFK</key>
			<string>samParentId</string>
			<key>parentClass</key>
			<string>Sample</string>
			<key>propertyInChild</key>
			<string>parent</string>
		</dict>
	</array>
	<key>Clone+Protein</key>
	<array>
		<dict>
			<key>childClass</key>
			<string>Clone</string>
			<key>childFK</key>
			<string>cloProteinId</string>
			<key>parentClass</key>
			<string>Protein</string>
			<key>propertyInChild</key>
			<string>protein</string>
		</dict>
	</array>
	<key>Lot+Clone</key>
	<array>
		<dict>
			<key>childClass</key>
			<string>Lot</string>
			<key>childFK</key>
			<string>lotCloneId</string>
			<key>parentClass</key>
			<string>Clone</string>
			<key>propertyInChild</key>
			<string>clone</string>
		</dict>
	</array>
	<key>LabeledAntibody+Lot</key>
	<array>
		<dict>
			<key>childClass</key>
			<string>LabeledAntibody</string>
			<key>childFK</key>
			<string>labLotId</string>
			<key>parentClass</key>
			<string>Lot</string>
			<key>propertyInChild</key>
			<string>lot</string>
		</dict>
	</array>
	<key>LabeledAntibody+Tag</key>
	<array>
		<dict>
			<key>childClass</key>
			<string>LabeledAntibody</string>
			<key>childFK</key>
			<string>labTagId</string>
			<key>parentClass</key>
			<string>Tag</string>
			<key>propertyInChild</key>
			<string>tag</string>
		</dict>
	</array>
	<key>Clone+Species</key>
	<array>
		<dict>
			<key>childClass</key>
			<string>Clone</string>
			<key>childFK</key>
			<string>cloSpeciesHost</string>
			<key>parentClass</key>
			<string>Species</string>
			<key>propertyInChild</key>
			<string>speciesHost</string>
		</dict>
	</array>
	<key>LabeledAntibody+Place</key>
	<array>
		<dict>
			<key>childClass</key>
			<string>LabeledAntibody</string>
			<key>childFK</key>
			<string>tubPlaceId</string>
			<key>parentClass</key>
			<string>Place</string>
			<key>propertyInChild</key>
			<string>place</string>
		</dict>
	</array>
	<key>ReagentInstance+Place</key>
	<array>
		<dict>
			<key>childClass</key>
			<string>ReagentInstance</string>
			<key>childFK</key>
			<string>tubPlaceId</string>
			<key>parentClass</key>
			<string>Place</string>
			<key>propertyInChild</key>
			<string>place</string>
		</dict>
	</array>
	<key>ReagentInstance+ComertialReagent</key>
	<array>
		<dict>
			<key>childClass</key>
			<string>ReagentInstance</string>
			<key>childFK</key>
			<string>reiComertialReagentId</string>
			<key>parentClass</key>
			<string>ComertialReagent</string>
			<key>propertyInChild</key>
			<string>comertialReagent</string>
		</dict>
	</array>
	<key>Lot+ComertialReagent</key>
	<array>
		<dict>
			<key>childClass</key>
			<string>Lot</string>
			<key>childFK</key>
			<string>reiComertialReagentId</string>
			<key>parentClass</key>
			<string>ComertialReagent</string>
			<key>propertyInChild</key>
			<string>comertialReagent</string>
		</dict>
	</array>
	<key>Lot+Provider</key>
	<array>
		<dict>
			<key>childClass</key>
			<string>Lot</string>
			<key>childFK</key>
			<string>lotProviderId</string>
			<key>parentClass</key>
			<string>Provider</string>
			<key>propertyInChild</key>
			<string>provider</string>
		</dict>
	</array>
	<key>Step+Recipe</key>
	<array>
		<dict>
			<key>childClass</key>
			<string>Step</string>
			<key>childFK</key>
			<string>stpRecipId</string>
			<key>parentClass</key>
			<string>Recipe</string>
			<key>propertyInChild</key>
			<string>recipe</string>
		</dict>
	</array>
	<key>ComertialReagent+Provider</key>
	<array>
		<dict>
			<key>childClass</key>
			<string>ComertialReagent</string>
			<key>childFK</key>
			<string>comProviderId</string>
			<key>parentClass</key>
			<string>Provider</string>
			<key>propertyInChild</key>
			<string>provider</string>
		</dict>
	</array>
	<key>Recipe+RecipeObject</key>
	<array>
		<dict>
			<key>childClass</key>
			<string>RecipeObject</string>
			<key>childFK</key>
			<string>rcmRecipeId</string>
			<key>parentClass</key>
			<string>Recipe</string>
			<key>propertyInChild</key>
			<string>recipe</string>
		</dict>
	</array>
	<key>Ensayo+Plan</key>
	<array>
		<dict>
			<key>childClass</key>
			<string>Ensayo</string>
			<key>childFK</key>
			<string>enyPlanId</string>
			<key>parentClass</key>
			<string>Plan</string>
			<key>propertyInChild</key>
			<string>plan</string>
		</dict>
	</array>
	<key>Part+Ensayo</key>
	<array>
		<dict>
			<key>childClass</key>
			<string>Part</string>
			<key>childFK</key>
			<string>prtEnsayoId</string>
			<key>parentClass</key>
			<string>Ensayo</string>
			<key>propertyInChild</key>
			<string>ensayo</string>
		</dict>
	</array>
	<key>Lot+Ensayo</key>
	<array>
		<dict>
			<key>childClass</key>
			<string>Ensayo</string>
			<key>childFK</key>
			<string>enyTubeValidatedId</string>
			<key>parentClass</key>
			<string>Lot</string>
			<key>propertyInChild</key>
			<string>tubeValidated</string>
		</dict>
	</array>
	<key>PlateWell+Plate</key>
	<array>
		<dict>
			<key>childClass</key>
			<string>PlateWell</string>
			<key>childFK</key>
			<string>pwlPlateId</string>
			<key>parentClass</key>
			<string>Plate</string>
			<key>propertyInChild</key>
			<string>plate</string>
		</dict>
	</array>
	<key>ZFilePart+File</key>
	<array>
		<dict>
			<key>childClass</key>
			<string>ZFilePart</string>
			<key>childFK</key>
			<string>fptFileId</string>
			<key>parentClass</key>
			<string>File</string>
			<key>propertyInChild</key>
			<string>file</string>
		</dict>
	</array>
	<key>ZFilePart+Part</key>
	<array>
		<dict>
			<key>childClass</key>
			<string>ZFilePart</string>
			<key>childFK</key>
			<string>fptPartId</string>
			<key>parentClass</key>
			<string>Part</string>
			<key>propertyInChild</key>
			<string>part</string>
		</dict>
	</array>
	<key>ZLotEnsayo+Lot</key>
	<array>
		<dict>
			<key>childClass</key>
			<string>ZLotEnsayo</string>
			<key>childFK</key>
			<string>lenLotId</string>
			<key>parentClass</key>
			<string>Lot</string>
			<key>propertyInChild</key>
			<string>lot</string>
		</dict>
	</array>
	<key>ZLotEnsayo+Ensayo</key>
	<array>
		<dict>
			<key>childClass</key>
			<string>ZLotEnsayo</string>
			<key>childFK</key>
			<string>lenEnsayoId</string>
			<key>parentClass</key>
			<string>Ensayo</string>
			<key>propertyInChild</key>
			<string>ensayo</string>
		</dict>
	</array>
	<key>ZGroupPerson+CommentWall</key>
	<array>
		<dict>
			<key>childClass</key>
			<string>CommentWall</string>
			<key>childFK</key>
			<string>createdBy</string>
			<key>parentClass</key>
			<string>ZGroupPerson</string>
			<key>propertyInChild</key>
			<string>groupPerson</string>
		</dict>
	</array>
	<key>ZGroupPerson+LabeledAntibody</key>
	<array>
		<dict>
			<key>childClass</key>
			<string>LabeledAntibody</string>
			<key>childFK</key>
			<string>tubFinishedBy</string>
			<key>parentClass</key>
			<string>ZGroupPerson</string>
			<key>propertyInChild</key>
			<string>finisher</string>
		</dict>
	</array>
	<key>ZGroupPerson+Lot </key>
	<array>
		<dict>
			<key>childClass</key>
			<string>Lot</string>
			<key>childFK</key>
			<string>tubFinishedBy</string>
			<key>parentClass</key>
			<string>ZGroupPerson</string>
			<key>propertyInChild</key>
			<string>finisher</string>
		</dict>
	</array>
	<key>ZGroupPerson+Sample</key>
	<array>
		<dict>
			<key>childClass</key>
			<string>Sample</string>
			<key>childFK</key>
			<string>tubFinishedBy</string>
			<key>parentClass</key>
			<string>ZGroupPerson</string>
			<key>propertyInChild</key>
			<string>finisher</string>
		</dict>
	</array>
	<key>ZGroupPerson+File</key>
	<array>
		<dict>
			<key>childClass</key>
			<string>File</string>
			<key>childFK</key>
			<string>createdBy</string>
			<key>parentClass</key>
			<string>ZGroupPerson</string>
			<key>propertyInChild</key>
			<string>groupPerson</string>
		</dict>
	</array>
</dict>
</plist>
